<h1>Competitions</h1>
<ul>
	<% @competitions.each do |competition| %>
		<% li_item = "#{competition.id} - #{competition.eventDatetime} - #{competition.title}" %>
		<li><%= link_to li_item, competition_path(competition)%></li>
	<% end %>
</ul>

<button><%= link_to "Create a new competition", new_competition_path %></button>

	