<h1>Competitions</h1>
<ul>
	<% @competitions.each do |competition| %>
		<% liItem = "#{competition.id} - #{competition.eventDatetime} - #{competition.title}" %>
		<li><%= link_to liItem, competition_path(competition)%></li>
	<% end %>
</ul>

	