<h1>Competition Details</h1>


<h3><%= @competition.title  %></h3>

<h3><%= @competition.eventDatetime  %></h3>

<button><%= link_to "Update this competition", edit_competition_path(@competition) %></button>
<button><%= link_to "Delete this competition", competition_path(@competition), method: :delete  %></button>
