<div class="container-fluid homepage-container">
    <div class="row">
		<div class="col-sm-6">
			<h3> Article Heading </h3>
			<p>Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content </p>
			<h3> Article Heading </h3>
			<p>Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content </p>
			<h3> Article Heading </h3>
			<p>Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content </p>
		</div><!-- close columns -->
		<div class="col-sm-6">
			<h3> Article Heading </h3>
			<p>Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content </p>
			<h3> Article Heading </h3>
			<p>Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content </p>
			<h3> Article Heading </h3>
			<p>Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content Article content </p>
		</div><!-- close columns -->
	</div><!-- close row -->
</div><!-- close container-->

