<div class="container">
    <div class="row">
		<div class="col-sm-6">
			<h2> Home Page Found! </h2>
			<p>General information available for non-authenticated sessions here</p>
		</div><!-- close columns -->
	</div><!-- close row -->
</div><!-- close container-->

